.popup__save-button {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    /* width: 358px; */
    /* height: 50px; */
    cursor: pointer;
    transition: opacity .2s linear;
    opacity: 1;
    border: none;
    height: 50px;
    padding: 0;
    /* margin-top: 31px;
    margin: 31px auto auto; */
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    /* margin-left: 22px;
    margin-right: 22px; */
    /* width: 238px; */
    height: 46px;
    /* margin-bottom: auto; */
    }
}