.popup__save-button_disabled {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, .2);
    background: transparent;
    border-radius: 2px;
    /* margin-top: 31px;
    margin: 31px auto auto; */
    /* width: 358px; */
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: auto;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .popup__save-button_disabled {
        font-size: 14px;
    line-height: 17px;
    /* margin-left: 22px;
    margin-right: 22px; */
    /* width: 238px; */
    height: 46px;
    /* margin-bottom: auto; */
    }
}