.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    flex-wrap: wrap;
    max-width: 880px;
    margin: 0 auto;
    gap: 20px 17px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .elements {
        padding: 0 19px;
        gap: 20px;
    }
        
}