.footer {
    max-width: 880px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    padding: 67px 0 60px;
}

@media screen and (max-width: 767px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        padding: 48px 19px 36px;
    }
        
}