.auth__link {
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
  
  .auth__link:hover {
    opacity: 0.6;
  }