.popup__container_type_delete {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    max-width: 430px;
    padding: 34px 36px 36px;
    min-width: 282px;
    width: calc(100% - 38px);
}

@media screen and (max-width: 767px) {
    .popup__container_type_input {
        max-width: 282px;
        max-height: 322px;
    }
}